@{
    ViewData["Title"] = "On Screen";
}
<div class="container">
    <div class="row">Question:<BR></div>
    <div class="row" id="questions">No Questions Yet</div>
    <div class="row" id="position"></div>
</div>
<script src="~/lib/aspnet/signalr/browser/signalr.js"></script>
<script src="~/js/client.js"></script>