@{
    ViewData["Title"] = "Player";
}
<div class="container">
    <div class="row">Question: Capital of &nbsp;<span id="question">the World</span><BR></div>
    <div id="answers"></div>
    <input id="YourName" placeholder="Your Unique Name" value="">
</div>
<script src="~/lib/aspnet/signalr/browser/signalr.js"></script>
<script src="~/js/player.js"></script>