@{
    ViewData["Title"] = "On Screen";
}
<div class="container">
    <div class="row">Question: Capital of &nbsp;<span id="question">the World</span><BR></div>
    <ul id="answers"></ul><BR>
    Winners:<BR>
    <ul id="winners">None So Far</ul>
<BR><button id="NextQuestionBtn">Next Question</button>
</div>

<script src="~/lib/aspnet/signalr/browser/signalr.js"></script>
<script src="~/js/stage.js"></script>